{% extends 'WelcomebacPublicBundle::layout.html.twig' %}
{% block headTitle %}Conditions Générales d'Utilisations - Welcomebac - Annales et fiches de cours - Bac S, ES, L - Gratuit{% endblock %}
{% block centercontent %}
	<h1>Conditions Générales d'Utilisation de Welcomebac</h1>
	<p>
		Alors, comme le précise le titre, les conditions sont générales, nous ne rentrerons donc pas trop dans les détails.
		Welcomebac est un site Internet qui regroupe des annales, des corrigés et des fiches de cours pour que vous puissiez <a href="http://www.welcomebac.com" title="Réviser son bac : efficace et gratuit !">réviser le Bac efficacement</a>.
		Notre priorité est de rendre ces contenus gratuits car nous pensons qu'apprendre ne doit pas être un service réservé aux plus riches.
	</p>
	<h2>Origine des contenus</h2>
	<p>
		Les annales sont des documents publics que nous retrouvons sur Internet ou que certains d'entre vous (et nous les remercions encore) nous envoient après leur Bac.
		Nous les agrègeons sur Welcomebac pour que vous puissiez les trouver en quelques clics et nous essayons progressivement de les "rafraîchir", pour qu'ils soient plus <a href="http://www.welcomebac.com" title="Des annales et des corrigés lisibles et agréables à utiliser">lisibles et toujours plus agréables à utiliser</a>.
	</p>
	<p>
		De la même manière, nous trouvons les corrigés sur Internet, certains sont des documents officiels libres de droit, d'autres sont soumis au droit d'auteur et si
		par maladresse nous avons publié des corrigés sans l'accord de leur auteur, n'hésitez pas à nous le faire savoir pour que nous puissions corriger le tir.
	</p>
	<p>
		Les <a href="http://www.welcomebac.com" title="Des fiches gratuites pour réviser le Bac">fiches</a>, elles, ne sont pas des contenus libres de droits. Nous les co-éditons avec des partenaires ou des professeurs. Nous vous prions donc de nous
		contacter si vous souhaitez les réutiliser (voire pire : les copier et les mettre en vente sur un site payant, ce que nous avons déjà constaté !)
	</p>
	<h2>Origine de nos revenus</h2>
	<p>
		Notre volonté n'est néanmoins pas philantropique car nous dépensons beaucoup de temps et d'argent pour améliorer Welcomebac. Votre gratitude, vos messages
		de remerciements sont pour nous de chaleureux encouragements mais nous cherchons également à indemniser notre labeur.
	</p>
	<p>
		Comme nous l'avions précisé précédemment dans ces Conditions Générales, notre volonté n'est pas de faire payer ce service. Et comme nous avons des valeurs,
		nous ne souhaitons pas vendre vos coordonnées à des partenaires (c'est pour cela que vous n'avez pas besoin de vous authentifier). Nous travaillons donc
		aujourd'hui sur de l'affiliation.
	</p>
	<h3>Quel est le principe ?</h3>
	<p>
		Le principe est très simple : prenons le cas de Diplomeo. Diplomeo est un site Internet qui vous aide à choisir votre orientation. Nous avons trouvé que
		ce site proposait un service pertinent (il vous assiste dans votre orientation post-Bac), et ce partenaire cherche des étudiants en terminale à orienter
		gratuitement.
	</p>
	<p>
		Diplomeo gagne de l'argent parce que les écoles sont prêtes à payer pour vous avoir (sisi !). Lorsque vous êtes un utilisateur de Welcomebac et que vous
		rejoignez Diplomeo par le biais de la bannière qui est affichée sur le site, nous récupérons une part des revenus que vous générez pour Diplomeo.
		C'est ainsi que nous réussissons à rembourser les frais que nous engageons.
	</p>
	<h2>Nous contacter</h2>
	<p>
		N'hésitez pas à nous contacter par le biais de <a href="https://www.facebook.com/pages/Welcomebac/110156005724161" title="Contactez-nous sur notre page Facebook">notre page Facebook</a>
		ou contactez Rémi à l'adresse suivante : remi@welcomebac.com.
	</p>
	<h2>Et parce qu'il faut tout de même que ce soit à peu près légal</h2>
	<p>
		Directeur de publication : <b>Rémi Darricau</b>
		<br/>Webmaster : <b>Gaëtan Hautecoeur</b>
		<br/>Où nous joindre : <b>97 Quai Charles de Gaulle 69006 Lyon</b>
		<br/>Tél : <b>06 77 98 16 63</b>
		<br/>E-mail : <b>remi@welcomebac.com</b>
	</p>
{% endblock %}
