{% extends 'WelcomebacPublicBundle::layout.html.twig' %}

{% block headTitle %}Mon compte - Welcomebac - Annales et fiches de cours - Bac S, ES, L - Gratuit{% endblock %}

{% block centercontent %}
	<h1>Un compte utilisateur : mais pour quoi faire ?</h1>
	<p>
		Vous avez été nombreux à nous en faire la remarque : il pourrait être intelligent de bénéficier d'un compte utilisateur pour gérer ses annales et fiches
		favorites. Aussitôt dit, aussitôt fait :) Nous avons donc créé un compte utilisateur avec le minimum de contrainte à l'inscription pour qu'en quelques 
		clics vous puissiez gérer vos favoris, les partager à vos amis,...
	</p>
	<p>
		Mais nous ne nous arrêterons pas là, très prochainement, de nouvelles fonctionnalités verront le jour pour apporter toujours plus de confort dans vos 
		révisions !
	</p>
	<h1>Et concrètement comment cela se passe ?</h1>
	<p>
		Pour que l'accès à ce compte utilisateur soit le plus simple possible, nous nous sommes adossés à Facebook. Vous n'avez donc aucun identifiant en renseigner
		dès lors que vous êtes connecté à Facebook. La seule nécessité est d'accepter que l'application Welcomebac discute avec Facebook, donc nous vous invitons à le
		faire :)
	</p>
	<p>
		Les seules informations que nous conservons sont donc votre adresse Email, votre nom et votre prénom.
	</p>
	
{% endblock %}
