{% extends 'WelcomebacPublicBundle::layout.html.twig' %}

{% block headTitle %}Partenaires - Welcomebac - Annales et fiches de cours - Bac S, ES, L - Gratuit{% endblock %}

{% block centercontent %}
	
	<h1>Les partenaires de Welcomebac</h1>
	<p>
		Retrouvez les partenaires en qui nous avons confiance et qui partagent la même philosophie que nous.
	</p>
{% endblock %}
