{% block network %}
<div class="fb" style='width:150px;'>
	<div class="fb-like" data-href="http://www.welcomebac.com{{ app.request.getRequestUri}}" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false" data-action="like" data-font="lucida grande"></div>
</div>
<div class="go">
	<!-- Place this tag where you want the +1 button to render -->
	<div class="g-plusone" data-size="medium" data-href="http://www.welcomebac.com{{ app.request.getRequestUri}}"></div>
</div>
<span class="networks_title">Pense à tes potes !</span>
{% endblock %}
